footer{
  padding:45px 0;
  background:$color-brand-1-dk;
  color:$color-lt;
  a{
  	color:$color-lt;
  }
  img{
  	width:100%;
  	max-width:230px;
  	margin-bottom:30px;
  }
  .link{
    font-weight:400;
  }
}

.footer{
	&__navbar{
		margin-bottom:60px;
	}
}

@media (max-width:767px){
  .footer{
    &__navbar{
      display:none;
    }
  }
  footer{
    .text-right{
      text-align:left;
    }
  }
}