section{
	padding:60px 0;
}

.section{
	&__heading{
		text-align:center;
		margin-top:60px;
		margin-bottom:10px;
		font-weight:400;
		+ .section__description{

		}
		&--blue{
			color:$color-brand-1;
		}
		&--white{
			color:$color-lt;
			font-weight:400;
		}
		&--spaced{
			margin-bottom:30px;
		}
		&--left{
			text-align:left;
		}
	}
	&__heading-divider{
		width:30px;
		height:3px;
		background:$color-brand-1-lt;
		margin:35px 0;
	}
	&__description{
		text-align:center;
	}
	&--grey{
		background-color:$color-bg;
		.divider{
			&__text{
				background:$color-bg;
			}
		}
	}
	&--dk-grey{
		background:#f3f2f2;
	}
	&--blue{
		background:$color-brand-1;
	}
	&--hex{
		background-image:url('../images/Banners/Polygon.png');
		background-repeat:no-repeat;
		background-position:bottom -220px left 0;
	}
	&--hex-center{
		background-image:url('../images/product/Polygon.png');
		background-size:700px auto;
		background-repeat:no-repeat;
		background-position:bottom -350px center;
	}
	&--hex-vert{
		background-image:url('../images/Banners/Polygon.png'), url('../images/Banners/Polygon.png');
		background-repeat:no-repeat;
		background-position:bottom -150px right -100px, top 40% left 100px;
	}
	&--hex-right{
		background-image:url('../images/product/Polygon.png');
		background-size:700px auto;
		background-repeat:no-repeat;
		background-position:bottom -150px right -300px;
	}
	&--padded-right{
		padding-right:10%;
	}
}

#intro{
	background-image:url('../images/Banners/Polygon.png'), url('../images/Banners/Polygon.png');
	background-repeat:no-repeat;
	background-position:bottom -150px left -200px, top 150px right -250px;
}


#prefooter{
	.section{
		&__heading{
			margin-bottom:30px;
		}
	}
	.btn{
		margin:15px 30px;
	}
}