.sidebar{
  &__heading{
  	@include set-type(18, 500, 24);
  	margin-bottom:45px;
  	&--has-icon{
  		padding-left:50px;
  		position:relative;
  		img{
				position:absolute;
				left:0;
				top:50%;
				transform:translateY(-50%);
				width:35px;
  		}
  	}
  	&--blue{
  		color:$color-brand-1;
  		margin-bottom:20px;
  	}
  }
  &__features{
  	list-style:none;
  	padding:0;
  	margin:30px 0;
  	li{
  		margin-bottom:15px;
			&.has-icon{
				padding-left:60px;
				position:relative;
				img{
					width:45px;
					position:absolute;
					left:0;
					top:50%;
					transform:translateY(-50%);
				}
			}
  	}
  }
  p{
  	margin-bottom:15px;
  }
  a{
  	color:$color-brand-1;
  	&:hover,
  	&:focus{
  		color:$color-brand-1-dk;
  	}
  	&.social{
  		margin-right:10px;
  	}
  }
  .card{
  	margin-bottom:15px;
  	.link{
  		color:$color-brand-1;
  		font-weight:400;
  	}
  }
}