{% extends "layouts/subpage.twig" %}
{% set pageTitle = "About ISLG" %}

{% block content %}

	<div class="banner banner--sub" style="background-image:url('assets/images/Banners/About.png');">
		<div class="container">
			<div class="grid">
				<div class="grid__col--md-6 grid__col--offset-right-md-1 banner--bg-fix">
					<h1 class="silhouette__wrapper"><span class="silhouette" aria-hidden="true">About ISLG</span>About ISLG</h1>
					<div class="silhouette__wrapper">
						<hr class="silhouette">
						<hr>
					</div>
					<h2>A powerful combination of people and technology</h2>
					<img src="assets/images/Banners/banner-poly.svg" alt="" class="banner__poly">
				</div>
			</div>
		</div>
		<img class="banner--sub__hexagons" src="assets/images/Banners/home-banner-hexagons.png" alt="">
	</div>

	<section id="page-content">
		<div class="container">
			<div class="grid">
				<div class="grid__col--md-4">
					<p><strong>Contact us to learn more about how ISLG can make your research more accurate, comprehensive and efficient.</strong></p>
					<a href="#" class="btn btn--primary">Contact ISLG</a>
				</div>
				<div class="grid__col--md-8">
					<p>Investor-State LawGuide (ISLG) was born of the need to provide legal researchers with accurate, comprehensive information and at a reasonable cost. With decades of experience in international trade and investment law, Greg Tereposky and Chris Thomas endeavored to solve this problem when they created Tologix, ISLG's parent company. Tologix developed a software platform that efficiently captures and disseminates subject matter expertise to userm with the goal of streamlining the cumbersome legal research process.</p>
					<p>Using the Tologix software platform, a skilled team of data capture specialists and investment treaty law experts built and launched ISLG in 2011. ISLG's unique ability to map the complex and disparate area of investment treaty law quickly made it a success, and it is currently used by the world's leading law firms, governments, academic institutions and international organizations.</p>
					<p>Today, ISLG is powered by a dedicated team of subject matter experts who maintain and contribute value-added material to its research tools. In parallel, Tologix continues to invest in the software platform, and is developing new technologies that enchance users' ability to get the specific information they need, faster.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="team" class="section--grey">
		<div class="container">
			<h2 class="section__heading section__heading--blue">Meet the team</h2>
			<div class="team">
				<a  href="#" class="team__member">
					<img src="assets/images/Team/greg-tereposky.png" alt="">
					<div class="team__meta">
						<p><span class="link">Greg Tereposky</span></p>
						<em>Founder</em>
					</div>
				</a>
				<a  href="team-member.html" class="team__member">
					<img src="assets/images/Team/chris-thomas.png" alt="">
					<div class="team__meta">
						<p><span class="link">J. Christopher Thomas, QC</span></p>
						<em>Founder</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<img src="assets/images/Team/morgan-maguire.png" alt="">
					<div class="team__meta">
						<p><span class="link">Morgan Maguire</span></p>
						<em>Chief Executive Officer</em>
					</div>
				</a>
				<br>
				<a  href="#" class="team__member">
					<img src="assets/images/Team/paul-moon.png" alt="">
					<div class="team__meta">
						<p><span class="link">Paul Moon</span></p>
						<em>Director of Legal Content</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<img src="assets/images/Team/subash-kuttan.png" alt="">
					<div class="team__meta">
						<p><span class="link">Subash Kuttan</span></p>
						<em>Sales &amp; Communications Manager</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<img src="assets/images/Team/irit-weinfeld.png" alt="">
					<div class="team__meta">
						<p><span class="link">Irit Weinfeld</span></p>
						<em>Document Manager</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<img src="assets/images/Team/marysia-raptis.png" alt="">
					<div class="team__meta">
						<p><span class="link">Marysia Raptis</span></p>
						<em>Office Manager</em>
					</div>
				</a>
			</div>
			<div class="divider">
				<h2 class="divider__text">Editors</h2>
				<hr aria-hidden="true">
			</div>
			<div class="team team--no-image">
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Alejandro Barragan</span></p>
						<em>J. Cameron Mowatt Law Corporation</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Olga Boltenko</span></p>
						<em>CMS Hasche Sigle, Hong Kong LLP</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Harpreet K. Dhillon</span></p>
						<em>White &amp; Case LLP</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Ximena Iturriaga</span></p>
						<em>LL.M. Candidate at Columbia University School of Law</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Sapna Jhangiani</span></p>
						<em>Director of Chartered Institute of Arbitrators, Singapore branch</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Csaba Kovacs</span></p>
						<em>CMS UK</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">J. Cameron Mowatt</span></p>
						<em>J. Cameron Mowatt, Law Corporation</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Andrew Newcombe</span></p>
						<em>University of Victoria, Faculty of Law</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Peter Nikitin</span></p>
						<em>Arbitration Consultant, TransLex (Europe)</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Mark D. Skilling</span></p>
						<em>Of Counsel at Balioglu Selcuk Akman Keki Attorney Partnership</em>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Laura Yvonne Zielinski</span></p>
					</div>
				</a>
			</div>
			<div class="divider">
				<h2 class="divider__text">Legal Analysts</h2>
				<hr aria-hidden="true">
			</div>
			<div class="team team--no-image">
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Nafiseh Arghandeh</span></p>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Ivaylo Dimitrov</span></p>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Hassan Kamalinejad</span></p>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Amanda Murphy</span></p>
					</div>
				</a>
				<a  href="#" class="team__member">
					<div class="team__meta">
						<p><span class="link">Juliana Sirotsky Soria</span></p>
					</div>
				</a>
			</div>
		</div>
	</section>

	<section id="testimonials" class="section--dk-grey">
		<div class="container">
			<h2 class="section__heading section__heading--blue">Our clients consider ISLG a must-have tool</h2>
			<div class="slider__wrapper">
				<div class="slider">
			    <ul class="testimonials slider__slides">
		        <li class="testimonial slider__slide card">
		          <div class="testimonial__quote"><p>&ldquo;ISLG is an invaluable research tool, particularly in an area of law that lacks a traditional system of precedent. It enables the user to have confidence that their research is thorough and up-to-date.&rdquo;</p></div>
		          <div class="testimonial__meta">
		          	<div class="slider__headshot-wrapper">
		              <img src="assets/images/Home/tracey-epps.png" alt="">
		            </div>
		            <p>
		              <strong>Tracey Epps</strong><br>
		              <em>Trade Law Consultant, Chapman Tripp</em>
		            </p>
		          </div>
		        </li>
		        <li class="testimonial slider__slide card">
		          <div class="testimonial__quote"><p>&ldquo;A very well thought out and innovative website, making it one of the first ports of call for research in the field of investment law.&rdquo;</p></div>
		          <div class="testimonial__meta">
		          	<div class="slider__headshot-wrapper">
		              <img src="assets/images/Home/jaime-gallego.png" alt="">
		            </div>
		            <p>
		              <strong>Jaime Gallego</strong><br>
		              <em>Lalive</em>
		            </p>
		          </div>
		        </li>
		        <li class="testimonial slider__slide card">
		          <div class="testimonial__quote"><p>&ldquo;ISLG hase made it easier and more cost-effective to research issues relating to investment treate arbitration. The Jurisprudence Citator, which shows how specific decisions have been treated by subsequent investment treaty tribunals, is particularly useful.&rdquo;</p></div>
		          <div class="testimonial__meta">
		          	<div class="slider__headshot-wrapper">
		              <img src="assets/images/Home/Kristen-young.png" alt="">
		            </div>
		            <p>
		              <strong>Kristen Young</strong><br>
		              <em>Partner, White and Case LLP</em>
		            </p>
		          </div>
		        </li>
			    </ul>
			    <div class="slider__btn-wrapper slider__btn-wrapper--prev">
				    <button class="slider__btn slider__btn--prev">
				    	<div class="slider__arrow">
				    		<i class="zmdi zmdi-arrow-left" aria-hidden="true"></i>
				    	</div>
				    	<span class="webaim-hidden">Previous</span>
				    </button>
			  	</div>
			  	<div class="slider__btn-wrapper slider__btn-wrapper--next">
				    <button class="slider__btn slider__btn--next">
				    	<div class="slider__arrow">
				    		<i class="zmdi zmdi-arrow-right" aria-hidden="true"></i>
				    	</div>
				    	<span class="webaim-hidden">Next</span>
				    </button>
			  	</div>
	  		</div>
	  		<ul class="slider__tabs">
		  		<li class="slider__tab"><button class="btn btn--slider-tab"><span class="webaim-hidden">Slide 1</span></button></li>
		  		<li class="slider__tab"><button class="btn btn--slider-tab active"><span class="webaim-hidden">Slide 2</span></button></li>
		  		<li class="slider__tab"><button class="btn btn--slider-tab"><span class="webaim-hidden">Slide 3</span></button></li>
		  	</ul>
  		</div>
		</div>
	</section>

	<section id="prefooter" class="section--blue">
		<div class="container">
			<h2 class="section__heading section__heading--white light">Learn about how ISLG can make your research<br> more accuract, comprehensive and efficient.</h2>
			<p class="text-centered"><a href="#" class="btn btn--tertiary-reversed">Contact ISLG</a></p>
		</div>
	</section>

{% endblock %}