{% extends "layouts/subpage.twig" %}
{% set pageTitle = "Contact Us" %}

{% block content %}

	<div class="banner banner--sub" style="background-image:url('assets/images/Banners/Contact.png');">
		<div class="container">
			<div class="grid">
				<div class="grid__col--md-6 grid__col--offset-right-md-1 banner--bg-fix">
					<h1 class="silhouette__wrapper"><span class="silhouette" aria-hidden="true">Contact Us</span>Contact Us</h1>
					<div class="silhouette__wrapper">
						<hr class="silhouette">
						<hr>
					</div>
					<h2>Connect with us today</h2>
					<img src="assets/images/Banners/banner-poly.svg" alt="" class="banner__poly">
				</div>
			</div>
		</div>
	</div>

	<section id="page-content">
		<div class="container">
			<div class="grid">
				<div class="grid__col--md-11 grid__col--offset-right-md-1">
					<div class="grid">
						<div class="grid__col--md-8 section--padded-right">
							<form class="form" action="/contact-us.html">
								<h3 class="form__heading">Questions? Or interested in starting a trial?</h3>
								<p class="form__descr">Fill out this short form to contact ISLG. We will be in touch withing 48 hours.</p>
								<div class="form__group">
									<div class="form__input--wrapper">
										<label class="form__label" for="contact-name">Name<span class="req">*</span></label>
										<input class="form__input" type="text" id="contact-name" placeholder="Full Name" required>
									</div>
								</div>
								<div class="form__group">
									<div class="form__input--wrapper">
										<label class="form__label" for="contact-email">Email<span class="req">*</span></label>
										<input class="form__input" type="email" id="contact-email" placeholder="Email" required>
									</div>
								</div>
								<div class="form__group">
									<div class="form__input--wrapper">
										<label class="form__label" for="contact-company">Company<span class="req">*</span></label>
										<input class="form__input" type="text" id="contact-company" placeholder="Company" required>
									</div>
								</div>
								<div class="form__group">
									<div class="form__input--wrapper">
										<label class="form__label" for="contact-subject">Subject</label>
										<select class="form__input" id="contact-subject">
											<option value="">General Inquiry</option>
										</select>
									</div>
								</div>
								<div class="form__group">
									<div class="form__input--wrapper">
										<label class="form__label" for="contact-message">Message<span class="req">*</span></label>
										<textarea class="form__input" id="contact-message" placeholder="Tell us more about what you're looking to accomplish..." required></textarea>
									</div>
								</div>
								<button type="submit" class="btn btn--primary">Send</button>
							</form>
						</div>
						<aside class="sidebar grid__col--md-4">
							<h2 class="sidebar__heading sidebar__heading--blue">Visit Us</h2>
							<p>
								120 Waterfront Centre<br>
								200 Burrard Street<br>
								Vancouver, BC V6C 3L6<br>
								Canada
							</p>
							<p>Our office is open Monday through Friday, 9am to 5pm Pacific Time.</p>
							<div class="card">
								<p>
									Call us toll-free in North America:<br>
									<strong>1-866-632-3524</strong>
								</p>
								<p>
									Or locally:<br>
									<strong>+1 604-632-3495</strong>
								</p>
								<a href="#" class="link">Email a representative directly »</a>
							</div>
							<p>
								Conect with on social media for updates:<br>
								<a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i><span class="webaim-hidden">Twitter</span></a>
								<a href="#" class="social"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="webaim-hidden">Linkedin</span></a>
							</p>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="prefooter" class="section--blue">
		<div class="container">
			<h2 class="section__heading section__heading--white">A powerful combination of people and technology</h2>
			<p class="text-centered"><a href="#" class="btn btn--tertiary-reversed">Start Your Trial</a></p>
		</div>
	</section>

{% endblock %}