{% extends "layouts/subpage.twig" %}
{% set pageTitle = "Login" %}

{% block content %}

	<section id="page-content" class="section--hex-right">
		<div class="container">
			<div class="grid">
				<div class="grid__col--md-6 grid__col--offset-right-md-3">
					<form class="form" action="/login.html">
						<h1>Member Login</h1>
						<div class="form__group">
							<div class="form__input--wrapper">
								<label class="form__label" for="login-name">User Name<span class="req">*</span></label>
								<input class="form__input" type="text" id="login-name" required>
							</div>
						</div>
						<div class="form__group">
							<div class="form__input--wrapper">
								<label class="form__label" for="login-password">Password<span class="req">*</span></label>
								<input class="form__input" type="password" id="login-password" required>
							</div>
						</div>
						<p><button type="submit" class="btn btn--primary">Login</button></p>
						<p>Not a member? &nbsp;<a href="/start-your-trial.html" class="link">Start Your Trial</a>.</p>
						<p><a href="#" class="link">Forgot username or password</a></p>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section id="prefooter" class="section--blue">
		<div class="container">
			<h2 class="section__heading section__heading--white">A powerful combination of people and technology</h2>
			<p class="text-centered"><a href="#" class="btn btn--tertiary-reversed">Start Your Trial</a></p>
		</div>
	</section>

{% endblock %}