{% extends "layouts/subpage.twig" %}
{% set pageTitle = "Product" %}

{% block content %}

	<div class="banner banner--sub banner--product">
		<div class="container">
			<div class="grid">
				<div class="grid__col--md-6 grid__col--offset-right-md-1">
					<h1 class="silhouette__wrapper"><span class="silhouette"></span>Product</h1>
					<h2>Research reinvented</h2>
					<p><em>The world of investment treaty law at your fingertips. Survey our vast collection of investment treaty law material with ease.</em></p>
					<p>Learn more about our legal research guide. <a href="#">Watch the demo</a></p>
					<p><a href="#" class="btn btn--primary">Start Your Trial</a></p>
					<div class="btn--play__wrapper">
						<button class="btn btn--play-dk"><span class="webaim-hidden">Play Video</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}