{% extends "layouts/subpage.twig" %}
{% set pageTitle = "Contact Us" %}

{% block content %}

	<div class="banner banner--sub" style="background-image:url('assets/images/Banners/SignUp.png');">
		<div class="container">
			<div class="grid">
				<div class="grid__col--md-6 grid__col--offset-right-md-1 banner--bg-fix">
					<h1 class="silhouette__wrapper"><span class="silhouette" aria-hidden="true">Start Your Trial</span>Start Your Trial</h1>
					<div class="silhouette__wrapper">
						<hr class="silhouette">
						<hr>
					</div>
					<h2>Create an account to get started</h2>
					<img src="assets/images/Banners/banner-poly.svg" alt="" class="banner__poly">
				</div>
			</div>
		</div>
	</div>

	<section id="page-content" class="section--hex-right">
		<div class="container">
			<div class="grid">
				<div class="grid__col--md-11 grid__col--offset-right-md-1">
					<div class="grid">
						<div class="grid__col--md-8 section--padded-right">
							<form class="form" action="/start-your-trial.html">
								<p class="form__descr">Fill out this short form to request a trial account. We will be in touch within 48 hours.</p>
								<div class="form__group">
									<div class="form__input--wrapper">
										<label class="form__label" for="trial-name">Name<span class="req">*</span></label>
										<input class="form__input" type="text" id="trial-name" placeholder="Full Name" required>
									</div>
								</div>
								<div class="form__group">
									<div class="form__input--wrapper">
										<label class="form__label" for="trial-email">Email<span class="req">*</span></label>
										<input class="form__input" type="email" id="trial-email" placeholder="Email" required>
									</div>
								</div>
								<div class="form__group">
									<div class="form__input--wrapper">
										<label class="form__label" for="trial-firm">Firm / Institution<span class="req">*</span></label>
										<input class="form__input" type="text" id="trial-firm" placeholder="Firm/Institution" required>
									</div>
								</div>
								<div class="form__group">
									<div class="form__input--wrapper">
										<label class="form__label" for="trial-position">Position / Title<span class="req">*</span></label>
										<input class="form__input" type="text" id="trial-position" placeholder="Poisition/Title" required>
									</div>
								</div>
								<div class="form__group">
									<div class="grid">
										<div class="grid__col--md-6">
											<div class="form__input--wrapper">
												<label class="form__label" for="trial-city">City<span class="req">*</span></label>
												<input class="form__input" type="text" id="trial-city" placeholder="City" required>
											</div>
										</div>
										<div class="grid__col--md-6">
											<div class="form__input--wrapper">
												<label class="form__label" for="trial-country">Country<span class="req">*</span></label>
												<input class="form__input" type="text" id="trial-country" placeholder="Country" required>
											</div>
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn--primary">Sign up</button>
							</form>
						</div>
						<aside class="sidebar grid__col--md-4">
							<h2 class="sidebar__heading sidebar__heading--blue">The first step to streamline your research</h2>
							<p>Our poweful and intuitive research product for international investment treaty law will change the way you work.</p>
							<ul class="sidebar__features">
								<li class="has-icon"><img src="assets/images/check-mark-circle.jpg" alt="">Simplified, easy-to-use interface combined with valuable research and sharing tools</li>
								<li class="has-icon"><img src="assets/images/check-mark-circle.jpg" alt="">Comprehensive document collection of all publicly available investment treaty decisions and awards</li>
								<li class="has-icon"><img src="assets/images/check-mark-circle.jpg" alt="">Pinpoint accuracy that takes you directly to the relevant passages with materials</li>
							</ul>
							<p>We've mapped the world of investment treaty law so you can instantly navigate to the relevant case, treaty, rule or other material, allowing you to dig deeper and save countless hours in your research.</p>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="prefooter" class="section--blue">
		<div class="container">
			<h2 class="section__heading section__heading--white">A powerful combination of people and technology</h2>
			<p class="text-centered"><a href="#" class="btn btn--tertiary-reversed">Start Your Trial</a></p>
		</div>
	</section>

{% endblock %}