$theSize: 20;
$font-base-size: 16;

$font-body-family:    'Aktiv Grotesk', 'Helvetica Nueue', 'Arial', sans-serif;
$font-display-family: 'Aktiv Grotesk', 'Helvetica Nueue', 'Arial', sans-serif;
$font-icon-family:    'FontAwesome';