<footer>
  <div class="container">
  	<div class="grid footer__navbar">
  		<div class="grid__col--md-7">
  			<nav class="nav nav--footer">
					<ul class="nav__menu">
						<li><a href="/product.html">Product</a></li>
						<li><a href="/resources-events.html">Resources &amp; Events</a></li>
						<li><a href="/about.html">About ISLG</a></li>
						<li><a href="/contact-us.html">Contact Us</a></li>
					</ul>
		  	</nav>
  		</div>
  		<div class="grid__col--md-5">
  			<nav class="nav nav--footer-utility">
		  		<ul class="nav__menu">
		  			<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> <span class="webaim-hidden">Visit us on Twitter</span></a></li>
						<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> <span class="webaim-hidden">Visit us on Linkedin</span></a></li>
						<li><a href="#" class="btn btn--sm btn--primary">Login</a></li>
		  		</ul>
		  	</nav>
  		</div>
  	</div>
  	<p class="label">Powered By</p>
  	<img src="assets/images/Tologix.svg" alt="">
  	<div class="grid">
  		<div class="grid__col--md-6">
  			<p class="copyright">&copy; 2018 Investor-State LawGuide Vancouver, BC</p>
  		</div>
  		<div class="grid__col--md-6 text-right">
  			<p><a href="#" class="link">Privacy Policy and Legal Notices</a></p>
  		</div>
  	</div>
  </div>
</footer><!-- /footer -->

<!-- Scripts -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/scripts/libraries/slick.js"></script>
<script src="assets/scripts/min/sassquatch.min.js"></script>