<a class="skip-link" href="#main-content">Skip to main content</a>

<header class="header desktop">
	<div class="header__utility">
		<div class="container">
			<nav class="nav nav--utility">
				<ul class="nav__menu">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> <span class="webaim-hidden">Visit us on Twitter</span></a></li>
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> <span class="webaim-hidden">Visit us on Linkedin</span></a></li>
          <li><a href="/login.html" class="btn btn--sm btn--secondary">Login to Notepad</a></li>
					<li><a href="#" class="btn btn--sm btn--quaternary">Login</a></li>
				</ul>
			</nav>
		</div>
	</div>
  <div class="header__content">
    <div class="container">
    	<div class="header__content-wrapper">
    		{% if template == "front" %}
    		<h1>
    		{% endif %}
    		<a href="/" class="header__brand"><img src="assets/images/ISLG-logo.svg" alt="Investor-State Law Guide"></a>
				{% if template == "front" %}
    		</h1>
    		{% endif %}
    		{% include "../components/navigation.twig" with {'modifier' : 'horizontal'} %}
    	</div>
    </div>
  </div>
</header><!-- /header -->

<header class="header mobile">
  <div class="header__bar drawer-controls">
    {% if template == "front" %}
      <h1>
    {% endif %}
      <a href="/" class="header__brand"><img src="assets/images/ISLG-logo.svg" alt="Investor-State Law Guide"></a>
    {% if template == "front" %}
      </h1>
    {% endif %}
    <button class="btn btn--mobile drawer-toggle"><i class="fa fa-bars drawer-control--open" aria-hidden="true"></i><i class="fa fa-times drawer-control--close" aria-hidden="true"></i><span class="webaim-hidden drawer-control--open">Open Menu</span><span class="webaim-hidden drawer-control--close">Close Menu</span></button>
  </div>
  <div class="mobile-menu drawer">
    {% include "../components/navigation.twig" with {'modifier' : 'mobile'} %}
    <nav class="nav nav--mobile-utility">
      <ul class="nav__menu">
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> <span class="webaim-hidden">Visit us on Twitter</span></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> <span class="webaim-hidden">Visit us on Linkedin</span></a></li>
        <li><a href="#" class="btn btn--sm btn--secondary">Login</a></li>
      </ul>
    </nav>
  </div>
</header>