/* STRUCTURE HELPERS
---------------------------------------------------------------------------*/
.container{
  @include clearfix();
  width:100%;
  max-width:$site-width;
  padding:0 $gutter-width;
  margin:0 auto;
  .container{
    padding:0;
  }
}

.full-width{
  width:100%;
}

.pull-right{
  float:right;
}

.hidden{
  display:none;
}

.spacer{
  background:transparent;
  margin:$gutter-width 0;
}

.divider{
  text-align:center;
  position:relative;
  margin:40px 0;
  margin-top:100px;
  min-height:50px;
  &__text{
    display:inline-block;
    background:$color-lt;
    margin:0;
    @include set-type(16, 700, 20);
    padding:0 60px;
    text-transform:uppercase;
    color:$color-neutral;
    max-width:100%;
    position:absolute;
    z-index:2;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

  }
  hr{
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    margin:0;
    z-index:1;
  }
}

.offset{
  &--top{
    display:block;
    margin-top:-45px;
  }
}

.mobile{
  display:none;
}

@media (max-width:767px){
  .mobile{
    display:block;
  }
  .desktop{
    display:none;
  }
  .divider{
    &__text{
      position:static;
      top:auto;
      left:auto;
      transform:none;
      background:transparent;
      width:100%;
      padding:0;
    }
    hr{
      display:none;
    }
  }
}