/* TYPOGRAPHY HELPERS
---------------------------------------------------------------------------*/
.text-centered{
  text-align:center;
}

.text-right{
  text-align:right;
}

.italic{
  font-style:italic;
}

.caps{
  text-transform:uppercase;
}

.no-break{
  white-space:nowrap;
}

.ellipsis{
  display:block;
  white-space:nowrap;
  max-width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
}

.link{
  display:inline;
  text-decoration:none;
  padding-top:1px;
  padding-bottom:1px;
  border-bottom:1px solid;
  transition:all 0.2s ease-in-out;
  font-weight:700;
  &:hover,
  &:focus{
    border-bottom:1px solid transparent;
  }
  &--reversed{
    border-bottom:1px solid transparent;
    &:hover,
    &:focus{
      border-bottom:1px solid $color-lt;
    }
  }
  &--play{
    color:$color-brand-1;
    &:before{
      content:'';
      display:block;
      width: 0; 
      height: 0;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 7px solid $color-brand-1;
      position:absolute;
      left:10px;
      top:50%;
      transform:translateY(-50%);
    }
    &:after{
      content:'';
      height:20px;
      width:20px;
      border-radius:50px;
      border:2px solid $color-brand-1;
      position:absolute;
      left:0;
      top:50%;
      transform:translateY(-50%);
    }
    &__wrapper{
      padding-left:45px;
      color:$color-brand-1;
      position:relative;
    }
  }
}

.label{
  margin-bottom:0;
  font-weight:600;
}

.copyright{
  font-weight:600;
}

.silhouette{
  position:absolute;
  top:-15px;
  left:-8px;
  font-size:1.5em;
  font-weight:700;
  opacity:0.1;
  pointer-events:none;
  letter-spacing:1px;
  &__wrapper{
    position:relative;
    hr{
      margin:0;
    }
  }
}

hr.silhouette{
  margin:0;
  top:-5px;
  left:-5px;
  width:35px;
}

*[data-attach-icon-after]{
  i{
    margin-left:5px;
  }
}

*[data-attach-icon-before]{
  i{
    margin-right:5px;
  }
}

.small{
  @include set-type(14, 400, 18);
}