/* BANNER COMPONENTS
---------------------------------------------------------------------------*/ 
.banner{
  padding:60px 0;
  position:relative;
  width:100%;
  background:$color-bg;
  color:$color-lt;
  &--front{
    padding:80px 0;
    padding-bottom:200px;
  	background-color:$color-banner-bg;
    background-image:url('../images/Banners/Home.png'), url('../images/Banners/home-banner-hexagons.png');
    background-size:auto 120%, 370px auto;
    background-repeat:no-repeat;
    background-position:bottom 0 right -250px, top 12% left 0;
  	h2{
  		@include set-type(42, 300, 42);
      margin-bottom:40px;
  	}
    p{
      margin-bottom:40px;
      @include set-type(20, 300, 30);
    }
  }
  &--sub{
    padding:0;
    background-color:$color-bg;
    color:$color-neutral-dk;
    background-position:right;
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
    *[class^="grid__col"]{
      padding-top:90px;
      padding-bottom:60px;
      padding-right:120px;
      background:$color-bg;
      position:relative;
    }
    h1{
      @include set-type(18, 600, 22);
      color:$color-brand-1;
      margin:0;
      margin-bottom:8px;
    }
    h2{
      @include set-type(38, 500, 44);
      margin-top:15px;
      margin-bottom:30px;
    }
    hr{
      width:30px;
      height:3px;
      background:$color-brand-1;
    }
    p{
      @include set-type(18, 400, 24);
      margin-bottom:30px;
      &.small{
        @include set-type(14, 400, 18);
      }
    }
    .btn--play__wrapper{
      position:absolute;
      right:-150px;
      top:50%;
      transform:translateY(-50%);
    }
    .btn--play-dk{
      height:80px;
      width:80px;
      border-radius:80px;
      &:before{
        height:80px;
        width:80px;
        margin-top:-5px;
        margin-left:0px;
      }
      &:after{
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 35px solid $color-lt;
      }
    }
    &__hexagons{
      position:absolute;
      bottom:30px;
      opacity:0.5;
      left:-200px;
      width:400px;
      height:auto;
    }
  }
  &__poly{
    position:absolute;
    top:0;
    right:-140px;
    height:100%;
    width:151px;
  }
  + section{
    .videobox{
      &:first-child{
        margin-top:-180px;
      }
    }
  }
}