.slider{
  padding:0 70px;
  margin:70px 0;
  margin-bottom:100px;
  position:relative;
  &__btn-wrapper{
    position:absolute;
    z-index:10;
    top:50%;
    &--prev{
      left:27%;
    }
    &--next{
      right:27%;
    }
  }
  &__btn{
    position:relative;
    padding:0 14px;
    width:45px;
    height:45px;
    border-radius:50px;
    appearance:none;
    border:none;
    cursor:pointer;
    font-size:36px;
    background:$color-brand-1;
    color:$color-lt;
    vertical-align:middle;
    transition:all 0.2s ease-in-out;
    &:before{
      content:""; 
      display:block;
      height:45px;
      width:45px;
      border-radius:50px;
      position:absolute;
      top:-4px;
      left:-5px;
      z-index:-1;
      background:rgba($color-brand-1-lt, 0.3);
    }
    &:hover,
    &:focus{
      background:$color-brand-1-lt;
    }
    i{
      @include set-type(12, 400, 12);
    }
  }
  &__slides{
    list-style:none;
    padding:0;
    margin:0;
    position:relative;
  }
  &__slide{
    text-align:center;
    border-radius:5px;
    margin:0;
    width:48%;
    z-index:9;
    position:absolute;
    top:0;
    left:0;
    backface-visibility: hidden;
    transform:scale(0.55) translateX(-50%);
    transition:all 0.4s;
    &:nth-of-type(1){
      left:0;
    }
    &:nth-of-type(2){
      left:50%;
    }
    &:nth-of-type(3){
      left:82%;
    }
    &.active{
      left:50%;
      z-index:10;
      transform:scale(1) translateX(-50%);
    }
    &.slider__slide--left{
      left:-4%;
    }
    &.slider__slide--right{
      left:82%;
    }
  }
  &__arrow{
    line-height:0;
    position:relative;
  }
  &__headshot-wrapper{
    margin-bottom:15px;
    img{
      display:inline-block;
    }
  }
  &__tabs{
    text-align:center;
    padding:0;
    margin:30px 0;
    list-style:none;
  }
  &__tab{
    display:inline-block;
    margin:0 5px;
  }
  .card{
    padding:30px 60px;
    background:$color-lt;
    overflow:visible;
    box-shadow:2px 2px 20px $color-neutral-lt;
    cursor:pointer;
  }
}

.testimonial{
  &__quote{
    padding-top:30px;
    margin-bottom:30px;
    position:relative;
    *{
      position:relative;
      z-index:2;
    }
    p{
      @include set-type(18, 300, 28);
    }
    *:last-child{
      margin-bottom:0;
    }
  }
  &__meta{
    p{
      @include set-type(14, 400, 18);
      em{
        font-weight:300;
      }
    }
  }
  hr{
    height:3px;
    background:$color-brand-1;
    width:60px;
    margin:20px 0;
    display:inline-block;
  }
}

.slick-slide{
  &:active{
    &:hover{
      cursor:grabbing;
    }
  }
}

@media(max-width:767px){
  .slider{
    padding:0 30px;
    &[style]{
      height:auto!important;
    }
    &__slide{
      display:none;
      position:static;
      left:auto;
      &.active{
        display:block;
        width:100%;
        transform:scale(1);
        margin:0;
        &[style]{
          height:auto!important;
        }
      }
    }
    &__btn{
      width:25px;
      &--prev{
        i{
          left:0;
        }
      }
      &--next{
        i{
          right:0;
        }
      }
    }
  }
}