.slider{
  margin:70px -100px;
  margin-bottom:100px;
  position:relative;
  .slick-list{
    padding:15px 15px!important;
  }
  .slick-track{
    display:flex;
  }
  .slick-prev{
    display:none!important;
  }
  .slick-next{
    display:none!important;
  }
  &__btn-wrapper{
    position:absolute;
    z-index:10;
    top:50%;
    &--prev{
      left:33%;
    }
    &--next{
      right:33%;
    }
  }
  &__btn{
    position:relative;
    padding:0 14px;
    width:45px;
    height:45px;
    border-radius:50px;
    appearance:none;
    border:none;
    cursor:pointer;
    font-size:36px;
    background:$color-brand-1;
    color:$color-lt;
    vertical-align:middle;
    transition:all 0.2s ease-in-out;
    &:before{
      content:""; 
      display:block;
      height:45px;
      width:45px;
      border-radius:50px;
      position:absolute;
      top:-4px;
      left:-5px;
      z-index:-1;
      background:rgba($color-brand-1-lt, 0.3);
    }
    &:hover,
    &:focus{
      background:$color-brand-1-lt;
      outline:0;
    }
    i{
      @include set-type(12, 400, 12);
    }
  }
  &__slides{
    list-style:none;
    padding:0;
    margin:0;
    position:relative;
  }
  &__slide{
    text-align:center;
    border-radius:5px;
    margin:0;
    z-index:9;
    backface-visibility: hidden;
    transition:all 0.4s;
    transition:opacity 0.2s ease-in-out;
  }
  &__arrow{
    line-height:0;
    position:relative;
  }
  &__headshot-wrapper{
    margin-bottom:15px;
    img{
      display:inline-block;
    }
  }
  &__tabs{
    text-align:center;
    padding:0;
    margin:30px 0;
    list-style:none;
  }
  &__tab{
    display:inline-block;
    margin:0 5px;
  }
  .card{
    padding:30px 60px;
    background:$color-lt;
    overflow:visible;
    box-shadow:2px 2px 20px $color-neutral-lt;
    cursor:pointer;
  }
}

.testimonial{
  display:flex;
  align-items:center;
  transform:scale(0.8);
  transform-origin:center center;
  display:flex!important;
  align-items:center;
  transition: all 0.2s ease-in-out;
  padding:0 20px;
  &__content{
    padding:30px;
    border-radius:5px;
    background:$color-lt;
    box-shadow:0 0 7px $color-neutral-lt;
    display:flex;
    align-items:center;
  }
  &.slick-center{
    transform:scale(1);
  }
  &.slick-slide{
    height:auto;
    img{
      position:static;
      transform:translate(0, 0);
    }
  }
  &__content{

  }
  &__quote{
    padding-top:30px;
    margin-bottom:30px;
    position:relative;
    *{
      position:relative;
      z-index:2;
    }
    p{
      @include set-type(18, 300, 28);
    }
    *:last-child{
      margin-bottom:0;
    }
  }
  &__meta{
    p{
      @include set-type(14, 400, 18);
      strong{
        color:$color-neutral-dk;
      }
      em{
        font-weight:300;
      }
    }
  }
  hr{
    height:3px;
    background:$color-brand-1;
    width:60px;
    margin:20px 0;
    display:inline-block;
  }
}

.slick-slide{
  &:active{
    &:hover{
      cursor:grabbing;
    }
  }
}

.slick-dots{
  list-style:none;
  padding:0;
  text-align:center;
  li{
    display:inline-block;
    button{
      padding: 5px;
      border: 1px solid #1c449c;
      height:12px;
      width:12px;
      border-radius:100%;
      background:$color-lt;
      font-size:0;
      margin:0 10px;
      transition:background 0.2s ease-in-out;
    }
    &.slick-active{
      button{
        background:$color-brand-1;
      }
    }
  }
}

@media(max-width:1259px){
  .slider{
    margin:70px 0;
  }
}

@media(max-width:767px){
  .slider{
    padding:0 30px;
    .slick-list{
      padding:15px 0!important;
      overflow:visible!important;
    }
    &[style]{
      height:auto!important;
    }
    &__slides{
      overflow:visible;
    }
    &__slide{
      display:none;
      position:static;
      left:auto;
      &.active{
        display:block;
        width:100%;
        margin:0;
        &[style]{
          height:auto!important;
        }
      }
    }
    &__btn{
      &--prev{
        i{
          left:0;
        }
      }
      &--next{
        i{
          right:0;
        }
      }
    }
    &__btn-wrapper{
      &--prev{
        left:0;
      }
      &--next{
        right:0;
      }
    }
  }
  .testimonial{
    &__content{
      width:100%;
    }
  }
}