/* TABLE COMPONENTS
---------------------------------------------------------------------------*/

.table{
  &__wrapper{
    overflow-x:auto;
    margin-bottom:30px;
    max-width:100%;
    &:last-child{
      margin-bottom:0;
    }
  }
}

table{
  thead{
    tr{
      th{
        text-align:left;
        font-weight:700;
        padding:10px;
        white-space:nowrap;
        color:$color-lt;
        background:$color-brand-1-dk;
      }
    }
  }
  tbody{
    tr{
      &:nth-of-type(2n){
        background:$color-neutral-lt;
      }
      td{
        padding:10px;
      }
      &:nth-of-type(2n){
      }
    }
  }
}